body {
	font-family: 'Spectral', serif;
	font-size: 20px;
	color: #8c7b66;
	background-image: url("bg.png");
}

#root {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

input[type="text"] {
	padding: 2px 5px;
	font-size: 20px;
	border: 1px solid #e8e8e8;
	width: 50%;
}

h1 {
	text-align: center;
}

.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px;
}

.critterCard {
	background: #F5F7E1;
	border-radius: 3px;
	box-shadow: 3px 3px 4px #8c7b66;
	margin: 20px;
	padding: 10px;
	width: 100%;
	position: relative;
}

.critterCardRow {
	display: flex;
	justify-content: flex-start;
}

.resultKeyName {
	padding-right: 20px;
}

.number {
	position: absolute;
	top:5px;
	right: 10px;
}

.name {
	display: flex;
	justify-content: center;
	font-size: 30px;
	color: #5E584A;
}
